.card-footer{
    display: flex;
    justify-content: space-between;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
